* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f6f9;
    overflow-x: hidden;
}


.app-layout {
    display: flex;
    min-height: 100vh;
}


/* SIDEBAR */

.sidebar {
    width: 250px;
    background: #1f2937;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2rem 1.2rem;

    position: fixed;
    height: 100vh;
}


.logo {
    font-weight: 700;
    margin-bottom: 2rem;
}


.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}


.sidebar-nav a {
    text-decoration: none;
    color: #d1d5db;

    padding: 0.8rem 1rem;

    border-radius: 10px;

    transition: 0.2s ease;
}


.sidebar-nav a:hover {
    background: #374151;
    color: white;
}


/* CONTEÚDO */

.main-content {
    margin-left: 250px;
    width: 100%;
}


/* CARDS */

.card-custom,
.dashboard-card {
    border: none;
    border-radius: 14px;
}


/* TABELAS */

.table-container {
    background: white;
    border-radius: 14px;
    padding: 1rem;
}


/* PAGE TITLE */

.page-title {
    font-weight: 700;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.3rem;
}

.page-title {
    font-weight: 700;
    color: #212529;
}

.card-custom {
    border: none;
    border-radius: 12px;
}

.table-container {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
}

.action-buttons {
    display: flex;
    gap: 8px;
}

.action-buttons .btn {
    min-width: 85px;
}

.pagination .page-link {
    border-radius: 8px;
    margin: 0 3px;
}

.table {
    margin-bottom: 0;
}

.table thead th {
    background-color: #023266;
    border-bottom: 2px solid #dee2e6;
    font-size: 0.95rem;
    font-weight: 600;
    color: white;
}

.table tbody tr {
    transition: all 0.2s ease;
    cursor: pointer;
}

.table tbody tr:hover {
    background-color: #f1f3f5;
    box-shadow: inset 4px 0 0 #012863;
}

.table td {
    vertical-align: middle;
}

.table-container {
    background-color: white;
    border-radius: 14px;
    overflow: hidden;
}

.badge {
    padding: 0.55rem 0.8rem;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 600;
}

.table td strong {
    color: #212529;
}

.dashboard-card {
    border: none;
    border-radius: 14px;
    transition: 0.2s ease;
}


.dashboard-card:hover {
    transform: translateY(-3px);
}


.dashboard-card h2 {
    font-size: 2rem;
    font-weight: 700;
}

.table-hover tbody tr {
    transition: 0.2s ease;
}


.table-hover tbody tr:hover {
    background-color: #f8fafc;
}

.btn {
    border-radius: 10px;
}