{% extends "base.html" %}

{% block title %}
Editar Cliente
{% endblock %}

{% block content %}

<h1 class="page-title">
            <img
                src="/static/images/clients2.png"
                alt="Ícone de clientes"
                class="me-2"
                style="width: 90px; height: 70px;"
            >
            Editar Cliente
        </h1>

<div class="card card-custom shadow-sm">

    <div class="card-body p-4">

        <form method="POST">

            <div class="mb-3">

                <label class="form-label">
                    <i class="bi bi-person"></i> Nome
                </label>

                <input
                    type="text"
                    name="name"
                    class="form-control"
                    value="{{ client.name }}"
                    placeholder="Digite o nome do cliente"
                    required
                >

            </div>

            <div class="mb-3">

                <label class="form-label">
                    <i class="bi bi-telephone"></i> Telefone
                </label>

                <input
                    type="text"
                    name="phone"
                    class="form-control phone-mask"
                    value="{{ client.phone }}"
                    placeholder="(00) 00000-0000"
                >

            </div>

            <div class="mb-3">

                <label class="form-label">
                    <i class="bi bi-envelope"></i> E-mail
                </label>

                <input
                    type="email"
                    name="email"
                    class="form-control"
                    value="{{ client.email }}"
                    placeholder="cliente@email.com"
                >

            </div>

            <button type="submit" class="btn btn-info">
                <i class="bi bi-save"></i> Atualizar Cliente
            </button>

        </form>

    </div>

</div>

{% endblock %}
