{% extends "base.html" %}

{% block title %}
Clientes
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>

        <h1 class="page-title">
            Clientes
        </h1>

        <form method="GET" class="mb-4">

            <div class="row g-2">

                <div class="col-md-10">

                    <input
                        type="text"
                        name="search"
                        class="form-control"
                        placeholder="Buscar por nome ou e-mail..."
                        value="{{ request.args.get('search', '') }}"
                    >

                </div>

                <div class="col-md-2 d-grid">

                    <button
                        type="submit"
                        class="btn btn-dark"
                    >
                        Buscar
                    </button>

                </div>

            </div>

        </form>

        <form method="GET" class="mb-4">

            <div class="row g-2">

                <div class="col-md-6">

                    <select
                        name="sort"
                        class="form-select"
                    >

                        <option
                            value="newest"
                            {% if request.args.get('sort') == 'newest' %}
                            selected
                            {% endif %}
                        >
                            Mais recentes
                        </option>

                        <option
                            value="oldest"
                            {% if request.args.get('sort') == 'oldest' %}
                            selected
                            {% endif %}
                        >
                            Mais antigos
                        </option>

                        <option
                            value="name"
                            {% if request.args.get('sort') == 'name' %}
                            selected
                            {% endif %}
                        >
                            Nome
                        </option>

                    </select>

                </div>

                <div class="col-md-2 d-grid">

                    <button
                        type="submit"
                        class="btn btn-dark"
                    >
                        Filtrar
                    </button>

                </div>

            </div>

        </form>

        <p class="text-muted">
            Gerencie os clientes cadastrados no sistema.
        </p>

    </div>

    <a
        href="/clients/create"
        class="btn btn-primary"
    >
        Novo Cliente
    </a>

</div>


<div class="table-container shadow-sm">

    {% if clients.items %}

    <div class="table-responsive">

        <table class="table table-hover align-middle">

            <thead>

                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Criado em</th>
                    <th>Ações</th>
                </tr>

            </thead>

            <tbody>

                {% for client in clients.items %}

                <tr>

                    <td>{{ client.id }}</td>

                    <td>
                        <strong>{{ client.name }}</strong>
                    </td>

                    <td>{{ client.phone }}</td>

                    <td>{{ client.email }}</td>

                    <td>{{ client.created_at.strftime('%d/%m/%Y') }}</td>

                    <td>

                        <div class="action-buttons">

                            <a
                                href="/clients/{{ client.id }}/edit"
                                class="btn btn-sm btn-outline-info"
                            >
                                Editar
                            </a>

                           <button
                                type="button"
                                class="btn btn-sm btn-outline-danger open-delete-modal"
                                data-client-id="{{ client.id }}"
                                data-client-name="{{ client.name }}"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteModal"
                            >
                                Excluir
                            </button>

                        </div>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

    <nav class="mt-4">

        <ul class="pagination justify-content-center">

            {% if clients.has_prev %}

            <li class="page-item">

                <a
                    class="page-link"
                    href="{{ url_for('client.index', page=clients.prev_num, search=request.args.get('search', '')) }}"
                >
                    Anterior
                </a>

            </li>

            {% endif %}


            {% for page_num in clients.iter_pages() %}

                {% if page_num %}

                    <li class="page-item {% if page_num == clients.page %}active{% endif %}">

                        <a
                            class="page-link"
                            href="{{ url_for('client.index', page=page_num, search=request.args.get('search', '')) }}"
                        >
                            {{ page_num }}
                        </a>

                    </li>

                {% endif %}

            {% endfor %}


            {% if clients.has_next %}

            <li class="page-item">

                <a
                    class="page-link"
                    href="{{ url_for('client.index', page=clients.next_num, search=request.args.get('search', '')) }}"
                >
                    Próxima
                </a>

            </li>

            {% endif %}

        </ul>

    </nav>

    {% else %}

    <div class="text-center py-5">

        <h4 class="mb-3">
            Nenhum cliente encontrado
        </h4>

        <p class="text-muted">
            Cadastre um novo cliente para começar.
        </p>

    </div>

    {% endif %}

</div>

<div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
>

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">
                    Confirmar exclusão
                </h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                ></button>

            </div>

            <div class="modal-body">

                Deseja realmente excluir o cliente
                <strong id="deleteClientName"></strong>?

            </div>

            <div class="modal-footer">

                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Cancelar
                </button>

                <form
                    id="deleteForm"
                    method="POST"
                >

                    <button
                        type="submit"
                        class="btn btn-danger"
                    >
                        Excluir
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}
