{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="card card-custom shadow-sm">

    <div class="card-body p-5">

        <h1 class="display-5 fw-bold">
            Sistema de Ordem de Serviço
        </h1>

        <p class="lead text-muted mt-3">
            Projeto desenvolvido com Flask, PostgreSQL e Bootstrap.
        </p>

        <hr>

        <a
            href="/clients"
            class="btn btn-primary btn-lg"
        >
            Gerenciar Clientes
        </a>

    </div>

</div>

{% endblock %}
